<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='css/timepicker.css') }}" />
    <title></title>
</head>
<body>
    <div id="loading">
        <img src="{{ url_for('static', filename='img/loading.gif') }}" />
    </div>
    <div id="ct-view">
        <div>
            <form>
                <label>Stream uri:
                    <input type="text" id="stream-uri" />
                </label>
                <label>
                    <input type="checkbox" id="use-cache" />
                    Use cache
                </label>
                <div id="filters">
                    <div>
                        Show:
                        <label>
                            <input type="checkbox" id="deleted" checked />
                            Deleted
                        </label>
                        <label>
                            <input type="checkbox" id="regular" checked />
                            Regular
                        </label>
                    </div>
                    <div>
                        <div>Date:
                            <label>Start
                                <input type="text" id="dt-start" />
                            </label>
                            <label>End
                                <input type="text" id="dt-end" />
                            </label>
                        </div>
                        <div>Cluster:
                            <label>Start
                                <input type="text" id="cluster-start" />
                            </label>
                            <label>End
                                <input type="text" id="cluster-end" />
                            </label>
                        </div>
                    </div>
                </div>
                <br />
                <input type="button" id="fire_post" value="Fire" />
            </form>
        </div>
        <div id="container" style="height: 1000px; width: 1500px"></div>
        <div id="fc-container" style="height: 1000px; width: 1500px"></div>
    </div>
    <div id="ct-text-ctrl">
        <form>
            <input type="button" id="ctc-fc" value="Sort by first cluster" />
            <input type="button" id="ctc-time" value="Sort by create time" />
        </form>
    </div>
    <div id="ct-text">
    </div>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/moment.min.js') }}">
    </script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}">
    </script>
    <script type="text/javascript"
            src="{{ url_for('static',
                            filename='js/jquery-ui-1.10.4.min.js') }}">
    </script>
    <script type="text/javascript"
            src="{{ url_for('static',
                            filename='js/jquery-ui-timepicker-addon.js') }}">
    </script>
    <script type="text/javascript"
            src="{{ url_for('static',
                            filename='js/spinner_dt_picker.js') }}">
    </script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/flotr2.min.js') }}">
    </script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/ct_view.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for ('static', filename='js/shortcut.min.js') }}">
    </script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/draw.js') }}"></script>
</body>
</html>
