<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
</head>
<body>
    <div id="loading">
        <img src="{{ url_for('static', filename='img/loading.gif') }}" />
    </div>
    <div id="ct-view">
        <div>
            <form>
                <label>Stream uri:
                    <input type="text" id="stream_uri" />
                </label>
                <label>
                    <input type="checkbox" id="hide_deleted" />
                    Hide deleted
                </label>
                <br />
                <input type="button" id="fire_post" value="Fire"/>
            </form>
        </div>
        <div id="container" style="height: 1000px; width: 1500px"></div>
        <div id="fc-container" style="height: 1000px; width: 1500px"></div>
    </div>
    <div id="ct-text">
    </div>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/moment.min.js') }}">
    </script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}">
    </script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/flotr2.min.js') }}">
    </script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/ct_view.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for ('static', filename='js/shortcut.min.js') }}">
    </script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/draw.js') }}"></script>
</body>
</html>
